<div
  class="carts"
  [class.collapsed]="isCollapsed"
  [class.hidden]="isHidden$ | async"
>
  <ng-container *ngIf="!isCollapsed">
    <div class="cart-list">
      <div class="product" *ngFor="let item of carts; index as index">
        <app-cart-item
          [item]="item"
          (removeItem)="removeItem(index)"
        ></app-cart-item>
      </div>

      <div class="empty-cart" *ngIf="carts.length === 0">Cart is empty</div>

      <button *ngIf="carts.length" class="btn remove-all" (click)="removeAll()">
        Remove all
      </button>
    </div>
    <div class="cart-action">
      <button class="btn" *ngIf="carts.length" [routerLink]="['checkout']">
        Check out
      </button>
      <p>Total price: ${{ getTotalPrice() | number : "1.0-4" }}</p>
    </div>
  </ng-container>
  <ng-container *ngIf="isCollapsed">
    <img
      class="icon-button"
      src="assets/icons/cart-2-svgrepo-com.svg"
      alt="cart"
      (click)="isCollapsed = false"
      *ngIf="isCollapsed"
    />
    <div class="cart-total-item">{{ getTotalItem() }}</div>
  </ng-container>

  <img
    class="icon-button"
    src="assets/icons/arrow-down-right-square-svgrepo-com.svg"
    alt="cart"
    (click)="isCollapsed = true"
    *ngIf="!isCollapsed"
  />
</div>
