.products-container {
  .product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    list-style-type: none;

    position: relative;

    .product-card {
      min-width: 240px;
      width: 30%;
    }
  }
}
