.card-container {
  width: 100%;

  background: #d5d5d5;

  border-radius: 16px;
  .card-image {
    width: 100%;
    height: 220px;
    overflow: hidden;
    border-radius: 16px;

    img {
      width: 100%;
      height: auto;
      object-fit: contain;
    }
  }

  .card-content {
    padding: 16px;

    .product-info {
      display: flex;
      justify-content: space-between;
      padding: 16px 0px;
    }

    button.next {
      margin-left: auto;

      width: 38px;
      height: 38px;
      padding: 6px;
      cursor: pointer;

      border: 1px #ffffff solid;
      border-radius: 1000px;
      overflow: hidden;

      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .card-bottom {
    display: flex;
    justify-content: space-between;
    gap: 12px;

    padding: 12px;

    .ql {
      width: 50%;
    }
  }
}
