<div class="card-container" *ngIf="product">
  <div class="card-image"><img [src]="product.url" alt="" /></div>
  <div class="card-content">
    <div class="product-info">
      <a class="text-lg" [routerLink]="['product', product.id]">
        {{ product.name }}
      </a>
      <p class="text-lg">Price: ${{ product.price }}</p>
    </div>
  </div>
  <div class="card-bottom">
    <input
      [(ngModel)]="quality"
      class="text-center ql"
      min="1"
      type="number"
      name="ql"
      id=""
    />
    <button class="btn" (click)="addToCard(product)">Add to cart</button>
  </div>
</div>
