<div class="checkout-container">
  <ng-container *ngIf="!isSuccesses">
    <h2>Checkout</h2>

    <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()" class="flex">
      <div class="checkout-info">
        <div class="form-group">
          <h3>1. Personal Information</h3>
          <div class="flex form-item">
            <input
              placeholder="First Name"
              class="w-50"
              formControlName="firstName"
            />
            <input
              placeholder="Last Name"
              class="w-50"
              formControlName="lastName"
            />
          </div>
          <div class="flex form-item">
            <input
              placeholder="Address"
              class="w-full"
              formControlName="address"
            />
          </div>
          <div class="flex form-item">
            <input placeholder="Email" class="w-50" formControlName="email" />
            <input
              placeholder="Phone Number"
              class="w-50"
              formControlName="phoneNumber"
              mask="+(00)-000-000-000"
            />
          </div>
        </div>

        <div class="form-group">
          <h3>2. Payment Details</h3>
          <div class="flex form-item">
            <input
              placeholder="Card Number"
              class="w-full"
              formControlName="cardNumber"
              mask="0000 0000 0000 0000"
            />
          </div>
          <div class="flex form-item">
            <input
              placeholder="Security Code"
              class="w-50"
              formControlName="securityCode"
              mask="000"
            />
            <input
              placeholder="Expired Date"
              class="w-50"
              formControlName="expiredDate"
              mask="00/00"
            />
          </div>
        </div>
        <div class="form-action">
          <button class="btn" [routerLink]="['']">Continue shopping</button>
          <button
            class="btn submit"
            type="submit"
            [disabled]="checkoutForm.invalid"
          >
            PURCHASE
          </button>
        </div>
      </div>

      <div class="product-list">
        <div class="total">
          <p>Total price: ${{ getTotalPrice() | number : "1.0-4" }}</p>
        </div>
        <div class="list">
          <div class="item" *ngFor="let item of carts; index as index">
            <app-cart-item
              [item]="item"
              (removeItem)="removeItem(index)"
            ></app-cart-item>
          </div>
        </div>
      </div>
    </form>
  </ng-container>

  <div class="checkout-success" *ngIf="isSuccesses">
    <img src="assets/icons/correct-success-tick-svgrepo-com.svg" alt="" />
    <h2><b>THANK YOU FOR YOUR PURCHASE</b></h2>
    <button class="btn" [routerLink]="['']">Continue Shopping</button>
  </div>
</div>
