<div class="card-item">
  <img [src]="item.product.url" alt="item" />
  <div class="item-info">
    <div class="product">
      <p>
        <b>{{ item.product.name }}</b>
      </p>
      <p>${{ item.product.price }}</p>
    </div>
    <div class="quality">
      <p><b>Quality:</b> {{ item.quality }}</p>
      <p>
        <b> Total:</b>
        ${{ item.product.price * item.quality | number : "1.0-4" }}
      </p>
    </div>
  </div>
  <div class="action">
    <button class="btn" (click)="removeItem.emit()">Remove</button>
  </div>
</div>
